section.home-wallpaper-overlay {
    position: relative;
    background:
            linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), /* Gradient overlay */
            url('../img/home/cover.jpeg') no-repeat center center / cover; /* Background image */
    z-index: 1; /* Ensure it's above other elements if necessary */
    min-height: 100vh; /* Optional: Ensures the section takes up full viewport height */
}
